$baseSize: 16;
$baseFontFamily: 'Outfit';
$baseFontWeight: 300;
$baseFontSize: #{$baseSize}px;

$orangeDark: #662400;
$orange: #B33F00;
$orangeLight: #FF6B1A;
$turquoiseGray: #3F4D4A;
$turquoise: #006663;
$turquoiseLight: #00B3AD;



/* Color Theme Swatches in Hex */
$textBgDark: #F0F0F0;
$textBgLight: #F5F5F5;
$textLight: #7A7A7A;
$textDark: #606B73;
